.App {
  text-align: center;
}

.App-header {
  background-color: #4784d0;
  padding: 10px;
  color: white;
  align-self: center;
  display: flex;
  text-align: left;
  flex-direction: row;
}

.App-title {
  font-size: 1.2em;
  margin: 5px 0;
  flex: 1;
  text-transform: uppercase;
  font-weight: 600
}

.App-title-time {
  margin: 5px 0;
  align-self: center;
  justify-self: center;
}

.App-list {
  font-size: large;
}

.list-container h1 {
  font-size: 1em;
  text-align: left;
  padding-left: 10px;
  color: #545E75;
  margin: 0;
  padding: 1em;
  text-transform: capitalize;
}

.list-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-container ul li {
  padding: 20px;
  background-color: #eee;
}

.list-container ul li:nth-child(even) {
    background-color: #fff;
}

.list-container ul li {
  padding: 20px;
  background-color: #eee;
}
.addItem-container {
  background-color: #4872a7;
  padding: 10px;
}
.itemInput {
    width: 100%;
    padding-left: 20px;
    height: 50px;
    border-radius: 5px;
    border: none;
    align-self: center;
    justify-self: center;
    margin: 5px 20px;
    outline: none;
    font-size: 0.9em;
}
button {
  font-size: 1em;
  color: #fff;
  background-color: #6ed27a;
  border: none;
  margin: 0;
  padding: 0px 30px;
  height: 50px;
  border-radius: 5px;
  justify-self: center;
  align-self: center;
}
.formItems {
  display: flex;
  flex-direction: row;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
